<div class="container">
	<div>
		<h3>About This App</h3>
		<p>This app was created, with love, to explore front-end development with Angular 2</p>
		<p>Check out what topics are included in this app:</p><br />

		<div class="list-group col-lg-offset-2">
			<a class="list-group-item active">Topics Covered</a>
			<a class="list-group-item">Components</a>
			<a class="list-group-item">Services</a>
			<a class="list-group-item">TypeScript</a>
			<a class="list-group-item">Data Binding</a>
			<a class="list-group-item">Forms & Input</a>
			<a class="list-group-item">Routing</a>
			<a class="list-group-item">Event Handling</a>
			<a class="list-group-item">Directives</a>
		</div>
	</div>
</div>




